
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap');





    


body {
    font-family: "Bai Jamjuree", sans-serif;
    background-color: tertiary;
    line-height: 1.7;

}

   

.top-nav {
    height: 30px;
    font-size: 14px;
    background-color:#d74042;
    color: rgb(255, 255, 255);
    padding-top: 3px;
    
    font-family: "Bai Jamjuree", sans-serif;

}
.top-nav a:hover{
    color: black;
    font-family: "Bai Jamjuree", sans-serif;
}

.top-nav p {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 10px;
    font-family: "Bai Jamjuree", sans-serif;
}

.top-nav span,
.top-nav i {
    vertical-align: middle;
}

.social-icons a {
    padding-left: 15px;
    color:white;
}
.information-icon {
    padding-left: 15px;
}

@media screen and (max-width: 576px) {
    .social-icons{
        display: none;
    }
}

.navbar{
    margin-top: 30px;
    height: 60px;
    font-family: "Bai Jamjuree", sans-serif;
}
   
.navbar-nav {
    
    font-weight: bold;

}
.navbar-nav a:hover {
    font-size: large;
    font-weight: bold;
    color: #ED1F24;
    padding: 2px;
}
.slider{
     
    height: 700px;
}
.carousel {
    margin-top: 10px; 

}
.carousel p{
    font-size: 60px;
    color: white;
 
    font-weight: bold;
    padding-bottom: 40px;

}
/* section */
line {
    width: 60px;
    height: 2px;
    background-color:#ED1F24;
    display: inline-block;
}
.section-padding {
    padding-top: 120px;
    padding-bottom: 120px;
    
}
.section-connector {
    position: relative;
}
.setion-title .line {
    width: 60px;
    height: 2px;
    background-color:#ED1F24;
    display: inline-block;
}
.section-connector::after {
    margin-top: 70px;
    content: '';
    width: 2px;
    height: 60px;
    background-color:#ED1F24;
    position: absolute;
    top: -50px;
    left: 50%;
}

.sectiontwo {
    margin-top: 100px;
}
.sttwo{
    align-items: center;
}
.sttwo img{
    padding-bottom: 10px;
}
.sttwo h1 {
    
    margin-top: 10px;
    font-family: "Bai Jamjuree", sans-serif;
   

}
.sttwo p {
    
    margin-top: 30px;
    font-family: "Bai Jamjuree", sans-serif;
}
.sttwo h2 {
    text-align: center;
    
    margin-top: 15px;
    font-family: "Bai Jamjuree", sans-serif;
   

}
.scp2 p {
    padding-top: 15px;


}
.scp2 h1{
    margin-bottom: 15px;
}
.fps {
    margin-top: 110px;
}

.back {

    margin-top: 50px;

}
.back a {
    margin-left: 1280px;
    background-color: #d74042;
    font-family: "Bai Jamjuree", sans-serif;
    border-radius: 80%;
    border-color: aliceblue;

}
.back a:hover {

    background-color: white;
    color: black;
}
.bstw {
    padding: 20px;
    
}
